# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
*.xcworkspace
xcuserdata/
DerivedData/
*.pbxuser
!default.pbxuser

# Secrets
**/Secrets.swift
**/*APIKey*
.env

# macOS
.DS_Store

# Build
build/
*.ipa
*.dSYM*
